{% extends "base.html" %}
{% block nav_product %}active{% endblock %}
{% load static from staticfiles %}



{% block content %}

<title>{% block title %}Clients{% endblock %}</title>
	<section id="inner-headline">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h2 class="pageTitle">Our Products</h2>
				</div>
			</div>
		</div>
	</section>
	<section id="content">
		<div class="container">
			{% if product %}
				{% for pro in product %}
					{{ pro.product_name }}
				{% endfor %}
			{% else %}
				<div>No Products</div>
			{% endif %}
		</div>
	</section>


{% endblock %}
