{% extends "base.html" %}
{% block nav_services %}active{% endblock %}
{% load static from staticfiles %}



{% block content %}
<title>{% block title %}Services{% endblock %}</title>

<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">Services</h2>
			</div>
		</div>
	</div>
	</section>

	<section id="content">
		<div class="container content">		
        <!-- Service Blcoks -->
        <div class="row service-v1 margin-bottom-40">
            <div class="col-md-12 md-margin-bottom-40">
              
                <p>{{ ser_detail }}</p>
              
            </div>
           
        </div>
        <!-- End Service Blcoks -->



       
                        <div class="row">
                            <div class="col-md-12">
                            
                                <!-- Accordion starts -->
                                <div class="panel-group" id="accordion-alt3">
                                {% for item in service %}
                                  <div class="panel">   
                                    <!-- Panel heading -->
                                     <div class="panel-heading">
                                        <h4 class="panel-title">
                                          <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseOne-alt3-{{ forloop.counter }}">
                                            <i class="fa fa-angle-right"></i> 
                                            {{ item.service_type}}
                                          </a>
                                        </h4>
                                     </div>
                                     <div id="collapseOne-alt3-{{ forloop.counter }}" class="panel-collapse collapse">
                                        <!-- Panel body -->
                                        <div class="panel-body">
                                        {{ item.service_type_detail }}

                                        </div>
                                     </div>
                                  </div>
                                  {% endfor %}          
                                <!-- Accordion ends -->
                                
                            </div>
                            
                        </div>
                    </div>
                          
                </div>
              </div>
    </section>


{% endblock %}
