{% extends "base.html" %}
{% block nav_services %}active{% endblock %}
{% load static from staticfiles %}



{% block content %}


<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">Services</h2>
			</div>
		</div>
	</div>
	</section>

	<section id="content">
		<div class="container content">		
        <!-- Service Blcoks -->
        <div class="row service-v1 margin-bottom-40">
            <div class="col-md-12 md-margin-bottom-40">
               <!-- <img class="img-responsive" src="img/service1.jpg" alt="">    -->
                <!-- <h2>Our Services</h2> -->
                <p>Moirs International strives to employ personnel of skill, integrity and enthusiasm, and provide them with the opportunities to be exposed to different technological challenges.<br /> Armed with this unique combination of strengths, we are confident that we can supply any product and also offer services required by our customers. Our personnel have the strong technical background and relevant work experience to meet the customers' expectations</p>        
            </div>
           
        </div>
        <!-- End Service Blcoks -->

        <hr class="margin-bottom-50">

       
                        <div class="row">
                            <div class="col-md-12">
                               <!--  <div class="block-heading-two">
                                    <h3><span>Our Solution</span></h3>
                                </div>  -->     
                                <!-- Accordion starts -->
                                <div class="panel-group" id="accordion-alt3">
                                 <!-- Panel. Use "panel-XXX" class for different colors. Replace "XXX" with color. -->
                                  <div class="panel">   
                                    <!-- Panel heading -->
                                     <div class="panel-heading">
                                        <h4 class="panel-title">
                                          <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseOne-alt3">
                                            <i class="fa fa-angle-right"></i> 
                                            Industrial Supplies
                                          </a>
                                        </h4>
                                     </div>
                                     <div id="collapseOne-alt3" class="panel-collapse collapse">
                                        <!-- Panel body -->
                                        <div class="panel-body">
                                          One of our areas of expertise. From Electro-Mechanical to Mechanical and Electrical products, we guarantee in bringing you best quality available in the market at a competitive price. Some of the products are given below:
                                          <ol>
                                            <li>AC & DC Motors</li>
                                            <li>Compressors</li>
                                            <li>Bearings</li>
                                            <li>Chain and all types of industrial belts</li>
                                            <li>Circuit breakers</li>
                                            <li>Switch Gears</li>
                                            <li>Contractors</li>
                                            <li>Many more</li>
                                            

                                          </ol>


                                        </div>
                                     </div>
                                  </div>
                                  <div class="panel">
                                     <div class="panel-heading">
                                        <h4 class="panel-title">
                                          <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseTwo-alt3">
                                            <i class="fa fa-angle-right"></i> Furniture
                                          </a>
                                        </h4>
                                     </div>
                                     <div id="collapseTwo-alt3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                         We deliver comfort and durability so you can work harder and longer without getting tired. We also offer custom made office furniture as per your requirement. So just sit back and relax! 
                                         <ol>
                                            <li>Office Furniture</li>
                                         </ol>

                                        </div>
                                     </div>
                                  </div>
                                  <div class="panel">
                                     <div class="panel-heading">
                                        <h4 class="panel-title">
                                          <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseThree-alt3">
                                            <i class="fa fa-angle-right"></i> Office Stationary
                                          </a>
                                        </h4>
                                     </div>
                                     <div id="collapseThree-alt3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                          The most essential office equipment and its importance need no explanation. We provide the top quality products available which comes with durability. We offer customized stationary with your required design and printing.

                                        </div>
                                     </div>
                                  </div>
                                  <div class="panel">
                                     <div class="panel-heading">
                                        <h4 class="panel-title">
                                          <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseFour-alt3">
                                            <i class="fa fa-angle-right"></i> IT and Electronic Equipments
                                          </a>
                                        </h4>
                                     </div>
                                     <div id="collapseFour-alt3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                          At some point, your IT equipment will no longer meet your needs—either your business will outgrow the equipment, the equipment will become too slow, or the technology will become outdated. Something needs to happen. And this is where we come in to help you out. We deal in: 

                                          <ol>
                                            <li>Laptops/Desktops</li>
                                            <li>Printers, Scanners, Photocopier</li>
                                            <li>Projectors</li>
                                            <li>Headgears</li>
                                            <li>Routers, cables & memory devices</li>
                                            <li>LED & LCD TV </li>
                                            <li>Security cameras</li>
                                          </ol>

                                        </div>
                                     </div>
                                  </div>
                                </div>
                                <!-- Accordion ends -->
                                
                            </div>
                            
                        </div>
                    </div>
                                    
                </div>
       
        

        
    </div>
    </section>


{% endblock %}
